@media screen and (min-width: 1280px) {
  header {
    max-width: 1280px;
    height: 459px;
    background-image: url("../imagens/desktop/header-desktop.png");
    background-position: center;
    background-size: cover;
    padding-top: 94px;
  }

  h2 {
    font-size: 40px;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__content h1 {
    font-size: 3.5rem;
  }

  .header__content .header__content__descricao {
    width: 757px;
  }

  .header__content__botoes {
    flex-direction: row;
  }

  .header__content__botoes button {
    width: 205px;
    height: 44px;
  }

  .header__content__botoes button.abrir-no-navegador {
    width: 281px;
  }

  section {
    display: flex;
  }

  .section__one, .section__two, .section__three {
    align-items: center;
  }

  .section__one {
    width: 971px;
    justify-content: center;
  }

  .section__image__one {
    content: url("../imagens/desktop/section-one.png");
  }

  .section__two {
    flex-direction: row-reverse;
  }

  .section__imag__two {
    content: url("../imagens/desktop/section-two.png");
  }
  
     
}