@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;800&display=swap");
@import url("./reset.css");

body {
  background-color: #fff;
}

header {
  background-image: url("../imagens/header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 505px;
  padding: 70px 0 70px 24px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

p {
  color: #23272A;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.header__content h1 {
  font-family: "Luckiest Guy", cursive;
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
}

.header__content p {
  color: #fff;
  margin: 24px 0;
}

.header__content .header__content__descricao {
  width: 381px;
}

.header__content__botoes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header__content__botoes button {
  border: none;
  width: 381px;
  height: 54px;
  border-radius: 28px;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.header__content__botoes button.abrir-no-navegador {
  background-color: #000;
  color: #fff;
}

main section {
  margin-top: 40px;
  padding: 40px 24px;
  height: 505px;
}

main section h2 {
  margin-bottom: 27px;
}

.section__two {
  background-color: #f6f6f6;
}

.section__two .section__infomarcao {
  width: 378px;
}

